* { margin: 0; padding: 0; }
img { margin: 0; padding: 0; border:0;}
img, div { behavior: url(../images/iepngfix.htc) }
#header { width: 960px; padding: 0; margin: 0 auto;  }
#header img { right: 0; top:4px; display:inline; position:absolute;}
#header h1 a { margin: 15px 0 10px 55px; background:url("../images/AFA.png") no-repeat scroll 0 0 transparent; display:block; height:80px; overflow:hidden; text-indent:-9999px; width:550px; }
h3 { padding:10px 30px;}
.courrier {border-bottom:1px dotted #CCCCCC; background: transparent url(../images/lettre.png) 0 13px no-repeat;}
.telephone {border-bottom:1px dotted #CCCCCC; background: transparent url(../images/tel.png) 3px 10px no-repeat;}
.mail { background: transparent url(../images/souris.png) 0 13px no-repeat;}
.courrier p, .telephone p, .wufoo p {padding: 0 0 10px 20px;}
.merci {
	background: #f04d5b;
  color: black;
  padding: 3px 10px 3px 10px;
  font-size: 15px;
  margin-bottom: 3px;
  boder-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
}
#footer { position: fixed; height:30px; border-top: 1px solid #fff; bottom:0; width:100%; background-color:#f8f8f8; z-index:2;}
#footer p { width: 800px; margin: 0 auto; padding-top:4px; text-align:center; color:#fff; font-weight:bold;}
#footer p a { padding:0 100px; margin-top:4px; text-decoration:none; color:#4A83BE;}
body { font: 14px Georgia, serif; background:#f8f8f8 url(../images/bg.png) top repeat-x;}
/* - - - Custom Theme - - - */

#container, html.embed{
	background-color:#fff;
}
.safari .wufoo input.file{
	background:none;
	border:none;
}
.wufoo li.focused{
	background-color:#f8f8f8;
}
.wufoo .instruct{
	background-color:#ffffff;
}

/* ----- Borders ----- */
#container{
	border:1px solid #CCCCCC;
}
.wufoo .paging-context{
	border-bottom:1px dotted #CCCCCC;
}
.wufoo .section h3, .wufoo .captcha, #payment .paging-context{
	border-top:1px dotted #CCCCCC;
}
.wufoo input.text, .wufoo textarea.textarea{
	border:;
}
.wufoo .instruct{
	border:1px solid #E6E6E6;
}
.fixed .info{
	border-bottom:none;
}

/* ----- Typography ----- */
.wufoo .info h2{
	font-size:160%;
	font-family:inherit;
	font-weight:;
	font-style:;
	color:#4a83be;
}
.wufoo .info div{
	font-size:95%;
	font-family:inherit;
	font-weight:;
	font-style:;
	color:#444444;
}
.wufoo .section h3{
	font-size:110%;
	font-family:inherit;
	font-weight:;
	font-style:;
	color:#4a83be;
}
.wufoo .section div{
	font-size:85%;
	font-family:inherit;
	font-weight:;
	font-style:;
	color:#444444;
}

.wufoo label.desc{
	font-size:95%;
	font-family:inherit;
	font-weight:;
	font-style:;
	color:#4a83be;
}
.wufoo label.choice{
	font-size:100%;
	font-family:inherit;
	font-weight:;
	font-style:;
	color:#4a83be;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select{
	font-size:100%;
	font-family:inherit;
	font-weight:;
	font-style:;
	color:#333333;
}
.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label{
	font-family:inherit;
	color:#4a83be;
}
.safari .wufoo input.file{ /* Webkit */
	font-size:100%;
	font-family:inherit;
	color:#4a83be;
}
.wufoo .instruct small{
	font-size:85%;
	font-family:inherit;
	font-weight:;
	font-style:;
	color:#444444;
}

.altInstruct small, li.leftHalf small, li.rightHalf small,
li.leftThird small, li.middleThird small, li.rightThird small,
.iphone small{
	color:#4a83be !important;
}

/* ----- Button Styles ----- */

.wufoo input.btTxt{
	font-size:;
	font-family:;
	font-weight:;
	font-style:;
	color:;
}

/* ----- Highlight Styles ----- */

.wufoo li.focused label.desc,
.wufoo li.focused div, .wufoo li.focused span, .wufoo li.focused div label, .wufoo li.focused span label,
.safari .wufoo li.focused input.file{ 
	color:#000000;
}

/* ----- Confirmation ----- */

.confirm h2{
	font-family:inherit;
	color:#4a83be;
}
a.powertiny b, a.powertiny em{
color:#1a1a1a !important;
}
.embed a.powertiny b, .embed a.powertiny em{
color:#1a1a1a !important;
}

/* ----- Pagination ----- */

.pgStyle1 var, .pgStyle2 var, .pgStyle2 em, .page1 .pgStyle2 var, .pgStyle1 b, .wufoo .buttons .marker{
	font-family:inherit;
	color:#4a83be;
}
.pgStyle1 var, .pgStyle2 td{
	border:1px solid #c6c6c6;
}
.pgStyle1 .done var{
	background:#c6c6c6;
}

.pgStyle1 .selected var, .pgStyle2 var, .pgStyle2 var em{
	background:#ffffff;
	color:#000000;
}
.pgStyle1 .selected var{
	border:1px solid #e6e6e6;
}

.buttons button, .buttons button:hover{
	color:#000000;
}

/* Likert Backgrounds */

.likert table{
	background-color:#f8f8f8;
}
.likert thead td, .likert thead th{
	background-color:#dfdfdf;
}
.likert tbody tr.alt td, .likert tbody tr.alt th{
	background-color:#eeeeee;
}

/* Likert Borders */

.likert table, .likert th, .likert td{
	border-color:#d8d8d8;
}
.likert td{
	border-left:1px solid #c6c6c6;
}

/* Likert Typography */

.likert caption, .likert thead td, .likert tbody th label{
	color:#4a83be;
	font-family:inherit;
}
.likert tbody td label{
	color:#5d90c5;
	font-family:inherit;
}
.likert caption, .likert tbody th label{
	font-size:95%;
}

/* Likert Hover */

.likert tbody tr:hover td, .likert tbody tr:hover th, .likert tbody tr:hover label{
	background-color:#f8f8f8;
	color:#000000;
}
.likert tbody tr:hover td{
	border-left:1px solid #cccccc;
}

/* ----- Report Styles ----- */

.wufoo .wfo_graph h3{
	font-size:95%;
	font-family:inherit;
	color:#4a83be;
}
.wfo_txt, .wfo_graph h4{
	color:#4a83be;
}
.wufoo .footer h4{
	color:#4a83be;
}
.wufoo .footer span{
	color:#4a83be;
}

/* ----- Number Widget ----- */

.wfo_number{
	background-color:#eeeeee;
	border-color:#d8d8d8;
}
.wfo_number strong, .wfo_number em{
	color:#000000;
}

/* ----- Chart Widget Border and Background Colors ----- */

#widget, #widget body{
	background:#f8f8f8;
}
.fcNav a.show{
	background-color:#f8f8f8;
	border-color:#c6c6c6;
}
.fc table{
	border-left:1px solid #d8d8d8;	
}
.fc thead th, .fc .more th{
	background-color:#d8d8d8 !important;
	border-right:1px solid #c6c6c6 !important;
}
.fc tbody td, .fc tbody th, .fc tfoot th, .fc tfoot td{
	background-color:#f8f8f8;
	border-right:1px solid #c6c6c6;
	border-bottom:1px solid #d8d8d8;
}
.fc tbody tr.alt td, .fc tbody tr.alt th, .fc tbody td.alt{
	background-color:#eeeeee;
}

/* ----- Chart Widget Typography Colors ----- */

.fc caption, .fcNav, .fcNav a{
	color:#4a83be;
}
.fc tfoot, 
.fc thead th,
.fc tbody th div, 
.fc tbody td.count, .fc .cards tbody td a, .fc td.percent var,
.fc .timestamp span{
	color:#000000;
}
.fc .indent .count{
	color:#5188c0;
}
.fc .cards tbody td a span{
	color:#81a9d2;
}

/* ----- Chart Widget Hover Colors ----- */

.fc tbody tr:hover td, .fc tbody tr:hover th,
.fc tfoot tr:hover td, .fc tfoot tr:hover th{
	background-color:#ffffff;
}
.fc tbody tr:hover th div, .fc tbody tr:hover td, .fc tbody tr:hover var,
.fc tfoot tr:hover th div, .fc tfoot tr:hover td, .fc tfoot tr:hover var{
	color:#000000;
}

/* ----- Payment Summary ----- */

.invoice thead th, 
.invoice tbody th, .invoice tbody td,
.invoice tfoot th,
.invoice .total,
.invoice tfoot .last th, .invoice tfoot .last td,
.invoice tfoot th, .invoice tfoot td{
	border-color:#d8d8d8;
}
.invoice thead th{
	background:#eeeeee;
}
.invoice th, .invoice td{
	color:#000000;
}
#ppSection, #ccSection{
	border-bottom:1px dotted #CCCCCC;
}
#shipSection, #invoiceSection{
	border-top:1px dotted #CCCCCC;
}

/* Drop Shadows */
#bottom{
	visibility:visible;
}
